.headerPage {
  background-image: url("images/hero-bg.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
}
@media (max-width: 768px) {
  .headerPage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 590px;
  }
  .myimage {
    height: 400px;
  }
}
@media (max-width: 490px) {
  .headerPage {
    background-position: 81.49% 50%;
    width: 100%;
    padding: 0;
    overflow: visible;
    height: 600px;
  }
  .formalText{
    margin-top:60px;
}
